@import "../../vars.css";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: linear-gradient(to left, var(--royal-blue-web-color), var(--antiflash-white));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.nav-links {
    display: flex;
    gap: 12rem;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: var(--prussian-blue);
    font-family: var(--font-family);
    transition: color 0.2s;
}

.nav-links li button {
    background: none;
    border: none;
    color: var(--prussian-blue);
    font-family: var(--font-family);
    cursor: pointer;
    transition: color 0.2s;
    font-size: 1rem;
    padding: 0;
}

.auth-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    
}
.auth-links li {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.4em 1em;
    background: var(--prussian-blue);
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    font-family: var(--font-family);

}

.auth-links li:hover {
    background: var(--cadet-gray);
    border: 1px 1px 1px 1px solid var(--prussian-blue);
}

.auth-links li a {
    text-decoration: none;
    color: var(--antiflash-white);
}